<?xml version="1.0" encoding="UTF-8"?>
<config>
   <environments>
      <environment>
         <type>uat</type>
         <dmpConfig>
            <userName>catalyst</userName>
            <password>lm33716</password>
            <dmpWalletUrl>https://uat.data.personalization.catalinamarketing.com/dmp/rest/profiles/%s/wallet</dmpWalletUrl>
            <dmpProfileUrl>https://uat.data.personalization.catalinamarketing.com/dmp/rest/profiles/%s</dmpProfileUrl>
         </dmpConfig>
         <omniConfig>
            <cappingUrl>http://smeplv01:8080/mts/res/gc/mediausage/LOAD_TO_CARD/%s</cappingUrl>
            <targetingUrl>http://smeplv01:8080/omni-mep/targeting/v1/media/countrycode/USA/retailerid/%s/cid/%s</targetingUrl>
            <eventsUrl>http://smeplv01:8080/omni-mep/events/v1/media/countrycode/USA/retailerid/%s</eventsUrl>
         </omniConfig>
         <queueInfo>
            <hostName>stpsrabmqv01</hostName>
            <port>5672</port>
            <userName>guest</userName>
            <password>guest</password>
            <queueName>occ.setup.uat</queueName>
         </queueInfo>
      </environment>
      <environment>
         <type>sqa</type>
         <dmpConfig>
            <userName>catalyst</userName>
            <password>lm33716</password>
            <dmpWalletUrl>https://sqa.data.personalization.catalinamarketing.com/dmp/rest/profiles/%s/wallet</dmpWalletUrl>
            <dmpProfileUrl>https://sqa.data.personalization.catalinamarketing.com/dmp/rest/profiles/%s</dmpProfileUrl>
         </dmpConfig>
         <omniConfig>
            <cappingUrl>http://qmeplv01:8080/mts/res/gc/mediausage/LOAD_TO_CARD/%s</cappingUrl>
            <targetingUrl>http://qmeplv01:8080/omni-mep/targeting/v1/media/countrycode/USA/retailerid/%s/cid/%s</targetingUrl>
            <eventsUrl>http://qmeplv01:8080/omni-mep/events/v1/media/countrycode/USA/retailerid/%s</eventsUrl>
         </omniConfig>
         <queueInfo>
            <hostName>stptrabmqv01</hostName>
            <port>5672</port>
            <userName>guest</userName>
            <password>guest</password>
            <queueName>occ.setup.sqa</queueName>
         </queueInfo>
      </environment>
   </environments>
   <client>
      <port>10000</port>
      <remoteHost>localhost</remoteHost>
   </client>
   <server>
      <port>10000</port>
      <environment>uat</environment>
      <simulationType>high</simulationType>
      <testPlanVersion>first-test</testPlanVersion>
      <simulations>
         <simulation>
            <type>high</type>
            <targetingThreadCount>5</targetingThreadCount>
            <cappingThreadCount>1</cappingThreadCount>
            <eventReportFrequency>2</eventReportFrequency>
            <capReportFrequency>3</capReportFrequency>
            <targetingCallCount>10</targetingCallCount>
            <cappingCallCount>10</cappingCallCount>
         </simulation>
         <simulation>
            <type>medium</type>
            <targetingThreadCount>100</targetingThreadCount>
            <cappingThreadCount>10</cappingThreadCount>
            <eventReportFrequency>10</eventReportFrequency>
            <capReportFrequency>30</capReportFrequency>
            <targetingCallCount>4000</targetingCallCount>
            <cappingCallCount>4000</cappingCallCount>
         </simulation>
         <simulation>
            <type>low</type>
            <targetingThreadCount>100</targetingThreadCount>
            <cappingThreadCount>10</cappingThreadCount>
            <eventReportFrequency>15</eventReportFrequency>
            <capReportFrequency>300</capReportFrequency>
            <targetingCallCount>4000</targetingCallCount>
            <cappingCallCount>4000</cappingCallCount>
         </simulation>
      </simulations>
      <setup>
         <retailerInfo>
            <networkId>0046</networkId>
            <retailerId>924</retailerId>
         </retailerInfo>
         <programSetupList>
            <programSetup>
               <contractId>91111</contractId>
               <programId>123456</programId>
               <cap>100000</cap>
            </programSetup>
            <programSetup>
               <contractId>1111</contractId>
               <programId>2222</programId>
               <cap>10000</cap>
            </programSetup>
            <programSetup>
               <contractId>3333</contractId>
               <programId>4444</programId>
               <cap>10000</cap>
               <variance>2</variance>
            </programSetup>
            <programSetup>
               <contractId>99882</contractId>
               <programId>992022</programId>
            </programSetup>
         </programSetupList>
         <promotionSetupList>
            <promotionSetup>
               <awardId>6000</awardId>
               <mediaId>1000</mediaId>
               <channelMediaId>10002</channelMediaId>
               <awardCap>60000</awardCap>
               <awardVariance>2</awardVariance>
               <mediaCap>30</mediaCap>
               <mediaVariance>1</mediaVariance>
               <channelMediaCap>3</channelMediaCap>
               <channelMediaVariance>3</channelMediaVariance>
               <channelType>LOAD_TO_CARD</channelType>
               <promotionType>STRINGPRINTS</promotionType>
               <thresholdSequence>0</thresholdSequence>
               <cardRangeId>B200</cardRangeId>
               <consumerCap>3000</consumerCap>
               <unlimited>true</unlimited>
               <houseHolded>false</houseHolded>
               <programSetupId>123456</programSetupId>
               <controlPercentage>2</controlPercentage>
               <randomValue>33</randomValue>
               <startDate>2015-05-06T00:00:00-05:00</startDate>
               <endDate>2016-12-28T00:00:00-05:00</endDate>
            </promotionSetup>
            <promotionSetup>
               <awardId>6000</awardId>
               <mediaId>10099</mediaId>
               <channelMediaId>10008</channelMediaId>
               <awardCap>60000</awardCap>
               <awardVariance>2</awardVariance>
               <mediaCap>30</mediaCap>
               <mediaVariance>1</mediaVariance>
               <channelMediaCap>3</channelMediaCap>
               <channelMediaVariance>3</channelMediaVariance>
               <channelType>LOAD_TO_CARD</channelType>
               <promotionType>STRINGPRINTS</promotionType>
               <houseHolded>false</houseHolded>
               <thresholdSequence>1</thresholdSequence>
               <unlimited>true</unlimited>
               <cardRangeId>B200</cardRangeId>
               <consumerCap>3000</consumerCap>
               <programSetupId>123456</programSetupId>
               <startDate>2015-05-06T00:00:00-05:00</startDate>
               <endDate>2016-12-28T00:00:00-05:00</endDate>
            </promotionSetup>
         </promotionSetupList>
         <cardSetupList>
            <cardSetup>
               <cardRange>20000-21000</cardRange>
               <cardRangeId>B200</cardRangeId>
            </cardSetup>
         </cardSetupList>
         <offerSetupList>
            <offerSetup>
               <campaignId>11000</campaignId>
               <offers>
                  <offer>AAX_FF</offer>
                  <offer>AAX_FFF</offer>
                  <offer>BB_FF</offer>
               </offers>
            </offerSetup>
            <offerSetup>
               <campaignId>22000</campaignId>
               <offers>
                  <offer>BBBAA</offer>
                  <offer>PPRRRL</offer>
                  <offer>ZZZZZ</offer>
                  <offer>XXXXX</offer>
               </offers>
            </offerSetup>
         </offerSetupList>
      </setup>
   </server>
</config>
