<config>
	<environments>
		<environment>
			<type>uat</type>
			<omniConfig>
				<cappingUrl></cappingUrl>
				<targetingUrl></targetingUrl>
			</omniConfig>
			<queueInfo>
				<host>stpsrabmqv01</host>
				<port>15672</port>
				<userName>guest</userName>
				<password>guest</password>
				<queueName>occ.setup.uat</queueName>
			</queueInfo>
			<dmpConfig>
				<userName>catalyst</userName>
				<password>lm33716</password>
				<dmpUrl>https://uat.data.personalization.catalinamarketing.com/dmp/rest/profiles/%s/wallet
				</dmpUrl>
			</dmpConfig>
		</environment>
		<environment>
			<type>sqa</type>
			<omniConfig>
				<cappingUrl></cappingUrl>
				<targetingUrl></targetingUrl>
			</omniConfig>
			<queueInfo>
				<host>stptrabmqv01</host>
				<port>15672</port>
				<userName>guest</userName>
				<password>guest</password>
				<queueName>occ.setup.sqa</queueName>
			</queueInfo>
			<dmpConfig>
				<userName>catalyst</userName>
				<password>lm33716</password>
				<dmpUrl>https://sqa.data.personalization.catalinamarketing.com/dmp/rest/profiles/%s/wallet
				</dmpUrl>
			</dmpConfig>
		</environment>
	</environments>
	<client>
		<port>12000</port>
		<remoteHost>localhost</remoteHost>
	</client>
	<server>
		<port>12000</port>
		<standby>10</standby>
		<environment>sqa</environment>
		<simulationType>high</simulationType>
		<publishData>false</publishData>
		<simulations>
			<simulation>
				<type>high</type>
				<targetingThreadCount>100</targetingThreadCount>
				<cappingThreadCount>10</cappingThreadCount>
				<eventReportFrequency>5</eventReportFrequency>
				<capReportFrequency>200</capReportFrequency>
				<targetingCallCount>4000</targetingCallCount>
				<cappingCallCount>4000</cappingCallCount>
			</simulation>
			<simulation>
				<type>medium</type>
				<targetingThreadCount>100</targetingThreadCount>
				<cappingThreadCount>10</cappingThreadCount>
				<eventReportFrequency>10</eventReportFrequency>
				<capReportFrequency>30</capReportFrequency>
				<targetingCallCount>4000</targetingCallCount>
				<cappingCallCount>4000</cappingCallCount>
			</simulation>
			<simulation>
				<type>low</type>
				<targetingThreadCount>100</targetingThreadCount>
				<cappingThreadCount>10</cappingThreadCount>
				<eventReportFrequency>15</eventReportFrequency>
				<capReportFrequency>300</capReportFrequency>
				<targetingCallCount>4000</targetingCallCount>
				<cappingCallCount>4000</cappingCallCount>
			</simulation>
		</simulations>
		<setup>
			<retailerInfo>
				<networkId>0046</networkId>
				<retailerId>489</retailerId>
			</retailerInfo>
			<programSetupList>
				<programSetup>
					<billNo>12345</billNo>
					<contractId>1111</contractId>
					<programId>2222</programId>
					<cap>2</cap>
					<variance>2.0</variance>
				</programSetup>
				<programSetup>
					<billNo>54321</billNo>
					<contractId>3333</contractId>
					<programId>4444</programId>
					<cap>40000</cap>
					<variance>2</variance>
				</programSetup>
			</programSetupList>
			<promotionSetupList>
				<promotionSetup>
					<awardRange>60000-60003</awardRange>
					<mediaIdRange>6000-6003</mediaIdRange>
					<cap></cap>
					<variance>2</variance>
					<mediaCap>60000</mediaCap>
					<mediaVariance></mediaVariance>
					<channelType>LOAD_TO_CARD</channelType>
					<cardRangeId>80001</cardRangeId>
					<consumerCap>3</consumerCap>
					<billNo>12345</billNo>
					<startDate>2014-03-21</startDate>
					<endDate>2014-04-21</endDate>
				</promotionSetup>
				<promotionSetup>
					<awardRange>70000-70010</awardRange>
					<mediaIdRange>7000-7010</mediaIdRange>
					<cap>70000</cap>
					<variance>2</variance>
					<mediaCap>60000</mediaCap>
					<mediaVariance></mediaVariance>
					<channelType>LOAD_TO_CARD</channelType>
					<cardRangeId>70001</cardRangeId>
					<consumerCap>7</consumerCap>
					<billNo>54321</billNo>
					<startDate>2014-03-21</startDate>
					<endDate>2014-04-21</endDate>
				</promotionSetup>
			</promotionSetupList>
			<cardSetupList>
				<cardSetup>
					<cardRange>100-200</cardRange>
					<cardRangeId>70001</cardRangeId>
				</cardSetup>
				<cardSetup>
					<cardRange>201-400</cardRange>
					<cardRangeId>80001</cardRangeId>
				</cardSetup>
			</cardSetupList>
		</setup>
	</server>
</config>